[flake8]
max-line-length = 120
select = C4
ignore = E741, E402, W504, W605, C408
per-file-ignores =
    pySDC/tutorial/step_6/C_MPI_parallelization.py:F401,
    pySDC/projects/Hamiltonian/solar_system.py:F401
exclude =
    playgrounds
    tests
    */data/*
count = True
show-source = True
statistics = True
