*.pdf
demos/*.png

problems/test_*
problems/run_*
problems/runInit_*
problems/initRun_*

scripts/*.sh
scripts/run_*
scripts/init_*
scripts/runInit_*
scripts/initRun_*
scripts/stab_*
scripts/_*
scripts/dedalus.cfg
scripts/scratch
scripts/postData
