name: Mirror to GitLab
on:
  push:
  delete:
  create:

jobs:
   mirror:
    if: github.repository_owner == 'Parallel-in-Time'
    runs-on: ubuntu-latest
    
    steps:
        - uses: actions/checkout@v1
        - uses: spyoungtech/mirror-action@master
          with:
            REMOTE: 'https://gitlab.hzdr.de/r.speck/pysdc.git'
            GIT_USERNAME: r.speck
            GIT_PASSWORD: ${{ secrets.GITLAB_SECRET }}
          
     
